  <footer id="footer">
    <nav>
      <ul>
        <li><span>Crunch.io</span></li>
        <li>
          <a href="/">Company</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
          <li>
          <a href="http://docs.crunch.io/">API docs</a>
        </li>
            <li>
            <a href="http://support.crunch.io/">Support</a>
          </li>
        <!-- <li>
          <a href="http://twitter.com/{{.Site.Params.twitter}}">Give a shout-out on Twitter!</a>
        </li> -->
      </ul>
    </nav>
    <!-- <p>&copy; Licence MIT.</p> -->
  </footer>
