<div class="show-sm navbar navbar-default">
    <div id="nav-toggle-box">
      <div id="nav-toggle-brand">
        <a href="http://crunch.io/"><img src="/crunch_logo.png"></img></a>
      </div><a data-component="toggleme" data-target="#top" href="#" id="nav-toggle"><i class="kube-menu"></i></a>
    </div>
  </div>
  <div class="hide-sm navbar navbar-default" id="top">
    <div id="top-brand">
        <a href="http://crunch.io/"><img src="/crunch_logo.png"></img></a>
    </div>
    <nav id="top-nav-main">
      <ul>
       {{ $currentPage := . }}
       {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}" {{if  $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a></li>
    {{end}}
      </ul>
    </nav>
    <nav id="top-nav-extra">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="page-scroll" href="/#product">Product</a>
            </li>
            <li>
                <a href="/team">Team</a>
            </li>
            <li>
                <a href="/jobs">Jobs</a>
            </li>
            <li>
                <a href="/dev">Blog</a>
            </li>
            <li>
                <a href="http://support.crunch.io/">Support</a>
            </li>
            <li>
                <a href="http://app.crunch.io/">Sign in</a>
            </li>
        </ul>
    </nav>
  </div>
